<br>
<br>
<div  class="col-sm-6">
  <div>
    <div class="btn-group mr-2" *ngIf="btnPlaceOrder_Displayed">
      <button class="btn btn-info" (click)="btnPlaceOrder()">Place Order</button>
    </div>

    <div class="btn-group mr-2" *ngIf="btnCheckout_Displayed">
      <button class="btn btn-secondary" (click)="btnCheckOut()">Checkout</button>
    </div>
  </div>
</div>

<div *ngIf="dialog_Displayed">
  <span class="font-weight-bold">Order:</span>
  <br>
  <span class="font-weight-bold">Table id: </span><span>{{tableid}}</span>
  <div class="border">
    <mat-list>
      <mat-list-item *ngFor="let item of itemListAfterSelected">
        {{item.foodname}}  &nbsp;&nbsp;&nbsp;${{item.foodprice}}.00 &nbsp;&nbsp;&nbsp; Count: {{item.count}}
      </mat-list-item>
    </mat-list>
  </div>
  <br>
  <span class="font-weight-bold">Total Price: ${{total}}.00</span>
  <br>
  <div class="btn-group mr-2">
    <button class="btn btn-info" (click)="btnPlayNow()">Play Now</button>
  </div>
</div>
